{% extends 'metric/base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans 'Stats' %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">{% trans 'Stats' %}</li>
    </ol>
{% endblock %}

{% block content %}
    {% if item_list %}
        {% trans 'Items' %}:
        <ul>
            {% for object in item_list %}
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if graph_list %}
        {% trans 'Graphs' %}:
        <ul>
            {% for object in graph_list %}
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
